PASS3_OAUTH2_CLIENT_ID=xxx
PASS3_OAUTH2_CLIENT_SECRET=zzz

PASS3_OAUTH2_AUTHORIZE_URL=http://localhost:8080/authorize
PASS3_OAUTH2_TOKEN_URL=http://localhost:8080/token

PASS3_OAUTH2_CALLBACK_URL=http://localhost:8080/callback